<html>
    <body>
        <div style="font-size: 13px">안녕허세요! 스뮤즈를 이용해 주셔서 감사합니다!</div>
        <div style="font-size: 13px">
            <a href="<%= auth_url %>" style="font-size: 20px">여기</a>를 클릭해 학생 인증을 진행하실 수 있습니다!
        </div>
        <div style="font-size: 13px">또한 아래 링크를 통해 학생 인증을 하실 수 있습니다.</div>
        <div style="font-size: 18px"><%= auth_url %></div>
    </body>
</html>
