<html>
    <body>
        <div style="font-size: 13px">안녕허세요! 스뮤즈를 이용해 주셔서 감사합니다!</div>
        <div style="font-size: 13px">
            임시 비밀번호가 발급되었습니다. 아래의 임시 비밀번호를 통해 로그인하시고 즉시 비밀번호를 변경하세요.
        </div>
        <div style="font-size: 18px">
            임시 비밀번호:
            <p style="font-size: 18px; color: red"><%= new_password %></p>
        </div>
    </body>
</html>
